<% if session[:user] %>
<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
    <th>ユーザー名</th>
    <th>状況</th>
    </thead>
    <tbody>
    <% @records.each do |record| %>
    <tr>
        <td><%= record.name %></td>
        <% if record.status == false %>
          <td>不在</td>
        <% elsif record.status == true %>
          <td>在宅</td>
        <% end %>
    </tr>
    <% end %>
<% end %>