<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
    <th>ユーザー名</th>
    <th>url</th>
    <th>コメント</th>
    <th>投稿者</th>
    </thead>
    <tbody>
    <tr>
        <td>gahaku</td>
        <td>https://www.youtube.com/watch?v=ELsRcOktPPc</td>
          <td>ヒカキンうるせえ</td>
          <td>ヒカキン</td>
    </tr>
    <tr>
        <td>gahaku</td>
        <td>https://www.youtube.com/watch?v=MhFXdXH0Njk</td>
          <td>ヒカキンうらやましい</td>
          <td>ヒカキン</td>
    </tr>